@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}
:root {
  --content: '1';
}
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}
li {
  list-style-type: none;
}
h1 {
  padding-top: 10px;
  font-size: 30px;
}
html {
  overflow-x: hidden;
}

.main {
  border-top: 20px blue solid;
  border-bottom: 20px blue solid;
}
.error {
  border-color: red;
}
.errorcancel {
  border-color: black;
}
button {
  font-size: 20px;
  cursor: pointer;
}

.maillbtn {
  border: 0;
  font-size: 18px;
}
input[type='radio'] {
  cursor: pointer;
}

input {
  border: 1px solid black;
  font-size: 20px;
  border-radius: 20px;
  padding-left: 15px;
  max-width: 80px;

  .autoSearch {
    font-size: 25px;
  }
}
.center {
  flex: 1;
  text-align: center;
}
button:not(.maillbtn) {
  border-radius: 15px;
  // width: 40%;
  border: none;
  padding: 15px 20px;
  background-color: teal;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}
a {
  margin: 5px 0px;
  font-size: 12px;
  text-decoration: none;

  cursor: pointer;
}
// Navbar
.navbar {
  height: 60px;
  @include mobile {
    height: 50px;
  }

  .wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
      padding: 10px 0px;
    }
  }
  .left {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .icon {
    font-size: 20px;
  }
  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include mobile {
      flex: 2;
      justify-content: center;
    }
  }
  .iconPostion {
    position: relative;
    top: 0;
    left: 0;

    .carticon {
      position: relative;
    }
    .iconT {
      font-size: 10px;
      position: absolute;
      top: -10px;
      right: -5px;
    }
  }
  .navLogin .iconPostion {
    position: relative;
    top: 0;
    left: 0;

    .carticon {
      position: relative;
    }
    .iconT {
      font-size: 10px;
      position: absolute;
      top: -10px;
      right: -5px;
    } 
 
     .Nav-link .iconT {
        font-size: 10px;
        position: absolute;
        top: -8px;
        right: 0px;
      }
   
  }
  input {
    border: none;
    font-size: 20px;
    @include mobile {
      width: 60px;
    }
  }
  h1 {
    font-weight: bold;
    @include mobile {
      font-size: 24px;
    }
  }

  .menuItem {
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
    @include mobile {
      font-size: 12px;
      margin-left: 10px;
    }
  }
}
// rigister


// cart
/* Cart */
.cart-container {
  padding: 2rem 4rem;
}
.cart-container h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}
.cart-container .titles {
  margin: 2rem 0 1rem 0;
}
.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}
.cart-container .titles .product-title {
  padding-left: 0.5rem;
}
.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}
.cart-item .cart-product {
  display: flex;
}
.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}
.cart-item .cart-product h3 {
  font-weight: 400;
}
.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}
.cart-item .cart-product button:hover {
  color: black;
}

.cart-item .cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}
.cart-item .cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}
.cart-item .cart-product-quantity .count {
  padding: 0.7rem 0;
}
.cart-item .cart-product-total-price {
  padding-right: 0.5rem;
  justify-self: right;
  font-weight: 700;
}
.cart-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  button {
    max-width: 130px;
    font-size: 18px;
    &.clear-btn {
      align-self: flex-start;
      font-size: 12px;
      max-width: 100px;
      margin-left: 1em;
      padding: 10px;
      justify-self: center;
    }
  }
}
.cart-item .cart-product button.btnsmall {
  font-size: 12px;
  border-radius: 0px;
  padding: 5px;
}
.cart-checkout {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
.cart-pay {
  justify-self: flex-end;
}
// sid
.imgAuto {
  padding-left: 10em;
  width: auto;
  height: 100%;
}
button:hover,
input[type='button']:hover {
  background-color: rgb(126, 241, 189) !important;
}
